@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: url("{{ url_for('static', filename='images/background.jpg') }}") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.centered {
    text-align: center;
    position: relative;
    cursor: pointer;
    animation: fadeIn 2.5s ease-in-out;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-logo {
    max-width: 50%;
    height: auto;
    animation: slam 1s cubic-bezier(0.33, 1, 0.68, 1);
    margin-bottom: 20px;
}

.start-button {
    width: 150px;
    height: 150px; 
    border-radius: 10px;
    border: none;
    background: url("{{ url_for('static', filename='images/start_button.png') }}") no-repeat center center;
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    outline: none;  /* Prevent outline when button is focused or hovered */
}
.start-button:hover {
    transform: scale(2);
}
.start-button:active {
    transform: scale(0.95);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes removeShadow {
    0% { text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); }
    100% { text-shadow: none; }
}







