<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Settings</title>
    <link rel="Stylesheet" href="static/css/style2.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="boxi">
        <img src="static/images/form/icons/board-game.png" alt="" class="bg" />
        <img src="static/images/form/icons/bomb.png" alt="" class="bomb" />
        <img src="static/images/form/icons/sword.png" alt="" class="sword" />
        <img src="static/images/form/icons/slash.png" alt="" class="slash" />
        <img
          src="static/images/form/icons/treasure.png"
          alt=""
          class="treasure"
        />
        <img
          src="static/images/form/icons_board/gold.png"
          alt=""
          class="gold"
        />
        <img src="static/images/form/icons_board/gun.png" alt="" class="gun" />
        <img
          src="static/images/form/icons_board/emerald.png"
          alt=""
          class="emerald"
        />
        <img
          src="static/images/form/icons_board/grenade.png"
          alt=""
          class="grenade"
        />
        <img
          src="static/images/form/icons_board/platinum.png"
          alt=""
          class="platinum"
        />
      </div>
    </div>
    <section class="parallax">
      <section class="box">
        <h2 id="text">Game Settings</h2>
        <div class="inputBox">
          <input type="number" id="width" name="width" required="required" />
          <span> Enter the width of the board</span>
        </div>
        <div class="inputBox">
          <input type="number" id="height" name="height" required="required" />
          <span> Enter the height of the board</span>
        </div>
        <div class="inputBox">
          <input
            type="number"
            id="num_players"
            name="num_players"
            required="required"
          />
          <span> Enter the number of players</span>
        </div>
        <div class="container">
          <a href="#" class="button start-button">
            <div class="button__content">
              <span class="button__text">Start</span>
              <i class="ri-play-fill button__icon"></i>
              <div class="button__reflection-1"></div>
              <div class="button__reflection-2"></div>
            </div>
            <img
              src="static/images/form/icons/sword.png"
              alt=""
              class="button__sword-1"
            />
            <img
              src="static/images/form/icons/sword.png"
              alt=""
              class="button__sword-2"
            />
            <img
              src="static/images/form/icons/shield.png"
              alt=""
              class="button__shield-1"
            />
            <img
              src="static/images/form/icons/shield.png"
              alt=""
              class="button__shield-2"
            />
            <img
              src="static/images/form/icons/bomb.png"
              alt=""
              class="button__bomb-1"
            />
            <img
              src="static/images/form/icons/treasure.png"
              alt=""
              class="button__treasure-1"
            />
            <div class="button__shadow"></div>
          </a>
        </div>
      </section>
    </section>
    <script src="static/js/form.js"></script>
  </body>
</html>
