<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Copy if in case /Users/nicholas_klos/Desktop/Game project bu/ -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Design</title>
    <link href="static/css/style3.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- Background -->
    <div class="wrapper">
      <div class="box">
        <img src="static/images/form/icons/board-game.png" alt="" class="bg" />
        <img src="static/images/form/icons/bomb.png" alt="" class="bomb" />
        <img src="static/images/form/icons/sword.png" alt="" class="sword" />
        <img src="static/images/form/icons/slash.png" alt="" class="slash" />
        <img
          src="static/images/form/icons/treasure.png"
          alt=""
          class="treasure"
        />
        <img
          src="static/images/form/icons_board/gold.png"
          alt=""
          class="gold"
        />
        <img src="static/images/form/icons_board/gun.png" alt="" class="gun" />
        <img
          src="static/images/form/icons_board/emerald.png"
          alt=""
          class="emerald"
        />
        <img
          src="static/images/form/icons_board/grenade.png"
          alt=""
          class="grenade"
        />
        <img
          src="static/images/form/icons_board/platinum.png"
          alt=""
          class="platinum"
        />
      </div>
    </div>

    <!-- Gameboard -->

    <div id="gameBoard" class="game-board"></div>

    <!-- Main page -->

    <div class="action" id="Actions"></div>
    <div id="distanceInputContainer"></div>

    <script src="static/js/game_board.js"></script>
  </body>
</html>
